{% extends 'base.html' %}


{% block bodyContent %}
    <div id="content-container">
      <div id="name-wrapper"><h1 class="lbl fw-bold">Your Report</h1></div>
      <div id="stats">
        {% for stat in additional_stats %}
        <div class="card rounded-4 p-3 shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">

            <div id="progress">
                <div data-num="{{ stat[0]*100 }}" class="progress-item shadow">sd</div>
            </div>

          <div class="card-body">
            <img src="/static/icons8-question-mark-50.png" class="card-img-top" alt="?" tabindex="0"
               role="button" data-bs-toggle="popover" data-bs-trigger="focus"
               data-bs-title="{{ stat[2] }}"
              data-bs-content="{{ stat[1] }}">
            <h5 class="card-title">{{ stat[2] }}</h5>
          </div>

        </div>
        {% endfor %}
      </div>
      <div id="picture">
        <canvas id="heatmap"></canvas>
      </div>
    </div>
{% endblock %}


{% block additionals%}
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

    matrix = {{ matrix|tojson }};
    sentances_1 = {{ prop_text_1|tojson  }};
    sentances_2 = {{ prop_text_2|tojson }};

    labels = []
    datasets = []

    for(i = 0 ; i < sentances_1.length; i++){
      labels.push(i)
    }
    for(i = 0 ; i < sentances_2.length; i++){
      data = []
      for(j = 0; j < sentances_1.length; j++){
        data.push([(matrix[j][i] * 100).toFixed(0), sentances_1[j], sentances_2[i]])
      }
      datasets.push({
        label: i,
        data: data
      })
    }

    var ctx = document.getElementById("heatmap").getContext("2d");
    var canvas = document.getElementById("heatmap");

    width = document.documentElement.clientWidth;
    height = document.documentElement.clientHeight;

    canvas.width = width / 2;
    canvas.height = height / 2;
    console.log(labels, datasets);
    var newChart = new Chart(ctx).HeatMap({labels:labels, datasets:datasets});

    let items = document.querySelectorAll('.progress-item');
    const counters = Array(items.length);
    const intervals = Array(items.length);
    counters.fill(0);
    items.forEach((number,index) => {
      intervals[index] = setInterval(() => {
              if(counters[index] == parseInt(number.dataset.num)){
                  clearInterval(intervals[index]);
              }else{
                  counters[index] += 1;
              }

              number.style.background = "conic-gradient( {{ colors["tertiary"] }} calc(" + counters[index] + "%), {{ colors["secondary"] }} 0deg)";
              number.setAttribute('data-value', counters[index] + "%");
              number.innerHTML = counters[index] + "%";
      }, 15);
     });
  </script>
  <style>

      #picture {
        grid-area: picture;
      }

      #progress {
        display: flex;
        justify-content: space-around;
      }

      .progress-item {
        display: flex;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        font-size: 0;
        animation: .4s ease-out reverse;
      }

      .progress-item::after {
        content: attr(data-value);
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100px;
        margin: 10px;
        border-radius: 50%;
        background: white;
        font-size: 1rem;
        text-align: center;
      }

      .card-img-top {
        height: 50px;
        width: 50px;
      }
  </style>
{% endblock %}